.sections {
  display: flex;
  flex-direction: row;
}

.comment-button {
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(2, 60, 2);
  color: white;
}
html {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.posts {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}
.post-block {
  text-decoration: none;
  margin-bottom: 1rem;
  padding: 1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

.left-side-bar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  width: 20%;
  height: 100vh;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 20px;
  align-items: center;
}
.main-container {
  width: 80%;
  height: 100vh;
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
}

a.nav {
  width: 6rem;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
}
a.nav:hover {
  text-decoration: underline;
}


